<form class="form-horizontal js-action-edit">
    <div class="row form-border">
        <hr class="hr-dashed">
        <table class="tables-condition tables-mid">
            <tbody>
                <tr>
                    <td class="col-md-11">
                        <div class="col-md-2">
                            <div class="input-group">
                                <input class="combobox form-control js-combobox-property" name="objReAttr" type="text" data-rule="required" />
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="col-md-4"/>
                            <div class="col-md-4">=</div>
                            <div class="col-md-4"/>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <input class="combobox form-control js-combobox-function" name="function" type="text" />
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="col-md-1">
                                <div class="col-md-4"/>
                                <div class="col-md-4">(</div>
                                <div class="col-md-4"/>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group">
                                    <input class="combobox form-control js-combobox-property" name="srcReAttr" type="text" data-rule="required" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="col-md-4"/>
                                <div class="col-md-4">,</div>
                                <div class="col-md-4"/>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group">
                                    <input class="form-control disabled js-input-value1" name="param1" type="text" data-rule="length[~255]" placeholder="{{RATING_ACTION_SOURCE_PARAM1}}" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group">
                                    <input class="form-control disabled js-input-value2" name="param2" type="text" data-rule="length[~255]" placeholder="{{RATING_ACTION_SOURCE_PARAM2}}" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="col-md-4"/>
                                <div class="col-md-4">)</div>
                                <div class="col-md-4"/>
                            </div>
                        </div>
                    </td>
                    <td class="col-md-1">
                        <span class="iconfont-group-block">
                            <i class="iconfont icon-ok js-ok-action-seg" />
                            <i class="iconfont icon-delete js-cancel-action-seg" />
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>
