<div class="modal-header">
    <h5 class="modal-title">{{RATING_STEP}}</h5>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <div class="form-group required">
            <label class="col-md-2 control-label">{{RATING_NAME}}</label>
            <div class="col-md-10">
                <input type="text" name="sortRuleName" class="form-control" data-rule="required;length[~60]" placeholder="{{RATING_NAME}}" />
            </div>
        </div>
        <div class="form-group">
            <div class="required col-md-6">
                <label class="control-label col-md-4">{{RATING_CONDITION_START_TIME}}</label>
                <div class="input-group col-md-8">
                    <input class="form-control js-datetime js-datetime-start" name="effDate" data-today-btn="true" type="text" placeholder="{{RATING_CONDITION_START_TIME}}" data-rule="{{RATING_CONDITION_START_TIME}}:required;match[lt, expDate, date]" />
                </div>
            </div>
            <div class="col-md-6">
                <label class="control-label col-md-4">{{RATING_CONDITION_END_TIME}}</label>
                <div class="input-group col-md-8">
                    <input class="form-control js-datetime js-datetime-end" name="expDate" data-today-btn="true" type="text" placeholder="{{RATING_CONDITION_END_TIME}}" data-rule="{{RATING_CONDITION_END_TIME}}:match[gt, effDate, date]" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">{{COMMON_REMARKS}}</label>
            <div class="col-md-10">
                <input type="text" name="comments" class="form-control" data-rule="length[~120]" placeholder="{{COMMON_REMARKS}}" />
            </div>
        </div>
        <div class="ui-tabs js-tabs-expression-result">
            <ul class="ui-tabs-nav">
                <li>
                    <a>{{RATING_CONDITION_EXPRISION}}</a>
                </li>
                <li>
                    <a>{{RATING_ACTION_RESULT}}</a>
                </li>
            </ul>
            <div class="ui-tabs-panel">
                <div class="form-group">
                    <div class="col-md-10">
                        <a class="form-static js-add-unit"><i class="iconfont icon-add" /></a>
                        <div class="row js-condition-content" style="display:none" />
                    </div>
                </div>
                <div class="js-area-condition-edit" />
            </div>
            <div class="ui-tabs-panel">
                <div class="js-action-expression">
                    <div class="form-group">
                        <label class="col-md-2 control-label">{{RATING_STEP_OUTPUT_NODE}}</label>
                        <div class="input-group col-md-10">
                            <input class="combobox form-control js-combobox-output-node" name="outputNodeId" type="text" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="col-md-4 control-label">{{RATING_ACTION_SYSTEM_ACTION}}</label>
                            <div class="input-group col-md-8">
                                <input class="combobox form-control js-combobox-system-action" name="sysActionName" type="text" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-4 control-label">{{RATING_ACTION_SCRIPT}}</label>
                            <div class="input-group col-md-8">
                                <input class="combobox form-control js-combobox-action-script" name="extScript" type="text" placeholder="{{RATING_ACTION_SCRIPT}}" />
                            </div>
                        </div>
                    </div>
                    <div class="grid-no-title js-grid-action" />
                    <a class="form-static js-add-action"><i class="iconfont icon-add" /></a>
                    <div class="js-action-edit" />
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-min-width btn-primary js-ok">{{COMMON_OK}}</button>
    <button type="button" class="btn btn-min-width btn-default js-cancel" data-dismiss="modal">{{COMMON_CANCEL}}</button>
</div>
