<form class="form-horizontal">
    <div class="form-border">
        <hr class="hr-dashed">
        <table class="tables-condition tables-mid">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <div class="col-md-12">&nbsp;</div>
                        <label class="col-md-3 control-label">{{RATING_CONDITION_FUNCTION}}</label>
                        <div class="col-md-9">
                            <input type="text" name="function" class="form-control js-function-id" />
                        </div>
                        <label class="col-md-3 control-label">{{RATING_CONDITION_PROPERTY}}</label>
                        <div class="col-md-9">
                            <input type="text" name="reAttr" class="form-control js-re-attr" data-rule="required" />
                        </div>
                        <div class="js-param1">
                            <label class="col-md-3 control-label">{{RATING_CONDITION_SOURCE_PARAM1}}</label>
                            <div class="col-md-9">
                                <input type="text" name="param1" class="form-control disabled" placeholder="{{RATING_CONDITION_SOURCE_PARAM1}}" data-rule="length[~255]" />
                            </div>
                        </div>
                        <div class="js-param2">
                            <label class="col-md-3 control-label">{{RATING_CONDITION_SOURCE_PARAM2}}</label>
                            <div class="col-md-9">
                                <input type="text" name="param2" class="form-control disabled" placeholder="{{RATING_CONDITION_SOURCE_PARAM2}}" data-rule="length[~255]" />
                            </div>
                        </div>
                    </td>
                    <td class="col-md-2">
                        <input type="text" name="sortOperator" class="form-control" data-rule="required" />
                    </td>
                    <td class="col-md-5">
                        <div class="col-md-12">
                            <label class="col-md-3 control-label">{{RATING_CONDITION_CONSTANT}}</label>
                            <label class="radio-inline">
                                <input type="radio" name="isConst" value="Y" checked="true" />{{COMMON_YES}}
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="isConst" value="N" />{{COMMON_NO}}
                            </label>
                        </div>
                        <div class="col-md-12 js-operand">
                            <input type="text" name="operand" class="form-control" placeholder="{{RATING_CONDITION_CONSTANT}}" data-rule="required;length[~30]" />
                        </div>
                        <div class="js-rFunction" style="display:none">
                            <label class="col-md-3 control-label">{{RATING_CONDITION_FUNCTION}}</label>
                            <div class="col-md-9">
                                <input type="text" name="rFunction" class="form-control js-function-id" />
                            </div>
                        </div>
                        <div class="js-rReAttr" style="display:none">
                            <label class="col-md-3 control-label">{{RATING_CONDITION_PROPERTY}}</label>
                            <div class="col-md-9">
                                <input type="text" name="rReAttr" class="form-control js-re-attr" />
                            </div>
                        </div>
                        <div class="js-rParam1" style="display:none">
                            <label class="col-md-3 control-label">{{RATING_CONDITION_SOURCE_PARAM1}}</label>
                            <div class="col-md-9">
                                <input type="text" name="rParam1" class="form-control disabled" placeholder="{{RATING_CONDITION_SOURCE_PARAM1}}" data-rule="length[~255]" />
                            </div>
                        </div>
                        <div class="js-rParam2" style="display:none">
                            <label class="col-md-3 control-label">{{RATING_CONDITION_SOURCE_PARAM2}}</label>
                            <div class="col-md-9">
                                <input type="text" name="rParam2" class="form-control disabled" placeholder="{{RATING_CONDITION_SOURCE_PARAM2}}" data-rule="length[~255]" />
                            </div>
                        </div>
                    </td>
                    <td class="col-md-1">
                        <div class="iconfont-group-block">
                            <span class="iconfont icon-ok js-ok-condition-seg" />
                            <span class="iconfont icon-delete js-cancel-condition-seg" />
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>
